/* box model reset */
* {
  margin: 0;
  padding: 0;
}

.container {
  border: 10px double rgb(255, 0, 0);
  font-size: 1.5em;

  /* margin = top, right bottom , left,  margin solo apply to all the sides */
  margin: 1.5em;
  padding: 1.5em;
  /* outline no es parte del box model */
  outline: 5px solid goldenrod;
  outline-offset: 5px;
}

.circle {
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  outline: 5px solid goldenrod;
  outline-offset: 2px;
  padding: 1.5em;
  width: 100px;
  height: 100px;
}
